<%- include('../partials/head.ejs') %>
  <body>
    <header>
      <h1>My Blog</h1>
      <a href="/create">Create New Post</a>
    </header>
    <main>
      <% if (posts.length > 0) { %>
      <ul>
        <% posts.forEach((post, index) => { %>
        <li>
          <h2><%= post.title %></h2>
          <p><%= post.content %></p>
          <form action="/edit/<%= index %>">
            <button id="green" type="submit">Edit</button>
          </form>
          <form action="/delete/<%= index %>" method="POST">
            <button type="submit">Delete</button>
          </form>
         <!-- <a href="/edit/<%= index %>">Edit</a> -->
        </li>
        <% }); %>
      </ul>
      <% } else { %>
      <p>No posts yet! <a href="/create">Create A Post</a></p>
      <% } %>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
